<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="product-image.jpg" class="card-img-top" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">Description of the product goes here. You can include details such as features, specifications, etc.</p>
            <p class="card-text"><strong>$99.99</strong></p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
